.sales-goods {
  position: relative;
  padding-top: 110px;
  padding-bottom: 50px;
}

.sales-goods .heading-section {
  top: 40px;
  max-width: 260px;
}

.sales-goods .show-all-button {
  position: absolute;
  top: 35px;
  right: 30px;
  display: flex;
  align-items: center;
  padding: 14px;
  color: var(--primary-black);
  text-decoration: none;
  gap: 5px;
}

.sales-goods .product {
  position: relative;
  display: block;
  width: 168px;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
}

.product__promo-label {
  position: relative;
  top: 8px;
  left: 8px;
  padding: 4px 8px;
  font-size: 8px;
  color: var(--white);
  background: var(--black-gradient), var(--primary-red);
  border-radius: 16px;
  font-weight: 500;
  overflow: hidden;
}

.product .product__content {
  padding: 14px 8px 16px;
  color: var(--primary-black);
}

.product .product__status {
  position: relative;
  display: inline-block;
  font-size: 9px;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 5px;
}

.product .product__status::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
}

.product a {
  text-decoration: none;
}

.product .product__status.available {
  color: var(--secondary-green);
}

.product .product__status.available::before {
  content: url('../assets/images/icons/approve.svg');
}

.product .product__status.wait {
  color: var(--secondary-violet);
}

.product .product__status.wait::before {
  content: url('../assets/images/icons/stopwatch.svg');
}

.product .product__title {
  display: -webkit-box;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 10px;
  padding-right: 10px;
}

.product .product__discount-row {
  display: flex;
  gap: 10px;
}

.product .product__discount {
  padding: 2px 4px;
  font-size: 10px;
  color: var(--white);
  border-radius: 16px;
  background-color: var(--primary-red);
  font-weight: 700;
  line-height: 12px;
}

.product .product__discount-price {
  padding: 0 2px;
  font-size: 12px;
  color: var(--primary-gray);
  line-height: 16px;
  text-decoration: line-through;
}

.product .product__price {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}

.product .product__controls {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.product .product__btn {
  padding: 9px;
  font-size: 14px;
  color: var(--white);
  border: none;
  background-color: var(--primary-black);
  line-height: 1;
  cursor: pointer;
}

.product .product__btn.left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  flex-grow: 1;
  border-right: 1px solid var(--white);
  text-align: center;
}

.product .product__btn.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.product .product__btn .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--white);
}

.product .product__banks {
  display: none;
}

.product .product__banks .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 0 0;
  list-style: none;
  max-width: 100px;

}

.product__banks .icons .icons__item {
  width: 20px;
  height: 20px;
}

.product .product__banks .banks__text {
  display: block;
  font-size: 10px;
  color: var(--primary-red);
  text-align: center;
  line-height: 12px;
}

.sales-goods .swiper-slide {
  width: auto;
}

@media (width >= 1024px) {
  .sales-goods .heading-section {
    max-width: unset;
  }

  .sales-goods .product {
    width: 176px;
  }

  .product .product__banks {
    display: block;
  }
}

@media (width >= 1440px) {
  .sales-goods .product {
    width: 310px
  }

  .product__promo-label {
    font-size: 10px;
  }

  .product .product__status.available {
    font-size: 12px;
  }

  .product .product__content {
    padding: 14px 16px 16px
  }

  .product .product__title {
    font-size: 14px;
  }

  .product .product__content-wrapper {
    display: flex;
    align-items: center;
  }

  .product__content-wrapper .price-wrapper {
    flex: 1 0 auto;
  }

  .product .product__controls {
    padding-right: 14px;
  }

  .product .product__price {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .product .product__btn {
    padding: 15px;
  }

  .product .product__btn.left {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px; 
  }

  .product .product__btn.right {
    padding: 15px 8px 5px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .product .product__banks {
    display: none;
  }
}